*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15pt;
  background-image: url("assets/image-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #F4F4F4;
}

.header{
  position: absolute;
  bottom: 10px;
  width: 95%;
  height: 50px;
  padding: 0 2.5%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
}

.icon-container{
  width: 40px;
}

.blurred{
  background: rgba(50, 50, 50, a
  0.7);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(200, 200, 200, 0.5);
}

.side-bar-container{
  position: fixed;
  bottom: 70px;
  right: -400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 75%;
  padding: 20% 5%;
  transition: all 0.5s ease-in-out;
}

.item-section{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 0.1s ease-in-out;
}

.show{
  right: 10px;
}

.icon{
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.icon-burger {
    opacity: 1;
    transform: rotate(0deg);
}

.icon-close {
    opacity: 0;
    transform: rotate(-90deg);
}

.active .icon-burger {
    opacity: 0;
    transform: rotate(90deg);
}

.active .icon-close {
    opacity: 1;
    transform: rotate(0deg);
}

.selected{
  transform: scale(1.07);
  border-radius: 10px;
  border: 1px solid #f4f4f4;
}